<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil</title>
</head>
<body>
    <h1>Bienvenue dans votre application de gestion</h1>
    <p>Ceci est la page d'accueil principale.</p>
    <ul>
        <li><a href="{% url 'technicien' %}">Accéder à l'espace Technicien</a></li>
        <li><a href="{% url 'commercial' %}">Accéder à l'espace Commercial</a></li>
        <li><a href="{% url 'administrateur' %}">Accéder à l'espace Administrateur</a></li>
    </ul>
</body>
</html>
